<!DOCTYPE html>
<html lang="zh-CN" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1, shrink-to-fit=no" name="viewport">
    <meta content="" name="description">
    <meta content="" name="author">
    <title>系统登录</title>
    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
    <!-- Custom styles for this template -->
    <link rel="stylesheet" th:href="@{/css/signin.css}">
</head>

<body class="text-center">

<form class="form-signin" id="loginForm" method="post" th:action="@{/user/login}">


    <img alt="" class="mb-4" height="72" th:src="@{/img/bootstrap-solid.svg}" width="72">
    <h1 class="h3 mb-3 font-weight-normal" th:text="#{login.tip}">Please sign in</h1>

    <p style="color: red" th:if="${not #strings.isEmpty(msg)}" th:text="${msg}"></p>


    <input autofocus="" class="form-control" name="username" required="" th:placeholder="#{login.username}" type="text">

    <input class="form-control" name="password" required="" th:placeholder="#{login.password}" type="password">

    <div class="checkbox mb-3">
        <label>
            <input name="remember-me" type="checkbox" value="true"> [[#{login.remember}]]
        </label>
    </div>


    <button class="btn btn-lg btn-primary btn-block" type="submit">[[#{login.btn}]]</button>

    <a class="btn btn-lg btn-check" th:href="@{/user/reg}">[[#{reg.btn}]]</a>

    <p class="mt-5 mb-3 text-muted">© 2021</p>
    <a class="btn btn-sm" th:href="@{/index.html(lang='zh_CN')}">中文</a>
    <a class="btn btn-sm" th:href="@{/index.html(lang='en_US')}">English</a>
</form>

</body>

</html>
