<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type">
    <meta content="width=device-width, initial-scale=1, shrink-to-fit=no" name="viewport">
    <meta content="" name="description">
    <meta content="" name="author">
    <title>Signin Template for Bootstrap</title>
    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
    <!-- Custom styles for this template -->
    <link rel="stylesheet" th:href="@{/css/signin.css}">
</head>

<body class="text-center">

<form class="form-signin" id="loginForm" method="post">

    <img alt="" class="mb-4" height="72" th:src="@{/img/bootstrap-solid.svg}" width="72">
    <h1 class="h3 mb-3 font-weight-normal">请注册</h1>

    <p style="color: red" th:if="${not #strings.isEmpty(msg)}" th:text="${msg}"></p>

    <input autofocus="" class="form-control" name="username" required="" th:placeholder="#{login.username}" type="text">
    <input class="form-control" name="password" required="" th:placeholder="#{login.password}" type="password">

    <button class="btn btn-lg btn-primary btn-block" type="submit">[[注册]]</button>

</form>

</body>

</html>